* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}
label {
  cursor: default;
}
body {
  position: relative;
}
.main {
  position: relative;
  width: 70%;

  margin: 70px auto 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr auto 1fr;
}
.login-container {
  right: 15%;
  width: 300px;
  height: max-content;
  display: flex;
  flex-flow: column nowrap;
  margin: 10px 5px;
  border: 2px solid #0074d9;
  border-radius: 5px;
  box-shadow: 5px 5px 13px -1px rgba(0, 0, 0, 0.52);
  position: fixed;
  background-color: whitesmoke;
  animation: bounceInDown; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s; /* don't forget to set a duration! */
  display: none;
  z-index: 1;
}
.registration-container {
  right: 15%;
  position: fixed;
  width: 350px;
  margin: 10px 5px;
  border: 2px solid #0074d9;
  border-radius: 5px;
  box-shadow: 5px 5px 13px -1px rgba(0, 0, 0, 0.52);
  background-color: whitesmoke;
  display: flex;
  flex-flow: column nowrap;
  animation: bounceInDown; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s; /* don't forget to set a duration! */
  display: none;
  z-index: 1;
}
.registration-container .close-button,
.login-container .close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Material Icons";
  font-weight: bolder;
  right: -15px !important;
  top: -15px;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #0074d9;
  color: white;
  font-size: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  margin: 0 !important;
}

.login-form > *,
.registeration-form > * {
  margin: 10px;
  padding: 10px;
  width: 90%;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.2rem;
}
.login-form > label,
.registeration-form > label {
  margin: 0;
  width: 90%;
}

.login-registration-header {
  background-color: #0074d9;
  color: white;
  max-height: 5rem;
  display: flex;
  align-items: center;
  padding: 10px;
}
.notification-span {
  padding: 10px;
}

.active {
  display: flex !important;
}
.hidden {
  display: none !important;
}
footer {
  grid-column: 1/5;
  grid-row: 3/-1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-bar {
  top: 0;
  display: grid;
  grid-template-columns: 3fr 2fr 1fr;
  background-color: slategray;
  width: 70%;
  position: fixed;
  margin: 0px 15% 0 15%;
  z-index: 1;
}
.nav-bar button {
  background-color: #0074d9;
  font-size: 1.2rem;
  padding: 10px;
  color: white;
  width: 100px;
  border-radius: 10px;
  margin: 10px;
}

.red-result-notification {
  display: none;
  color: red;
  font-weight: bolder;
}
.green-result-notification {
  display: none;
  color: green;
  font-weight: bolder;
}
.img-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: white 2px solid;
  display: none;
  margin-right: 10px;
  margin-left: 10px;
}
.avatar {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
  right: 0;
  justify-self: flex-end;
  align-items: center;
}

.posts-display {
  grid-column: 1/4;
  grid-row: 3/4;
  grid-template-columns: repeat(3, auto);
  grid-auto-rows: 1fr;
  grid-gap: 10px;
  padding: 10px;
  min-height: 400px;
  display: grid;
}

.post {
  display: flex;
  flex-flow: row wrap;
  /* height: max-content; */
  border: 1px solid slategray;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 2px -1px rgba(0, 0, 0, 0.52);
  justify-self: stretch;
  align-self: stretch;
}
.post span {
  display: block;
  width: 100%;
  height: max-content;
  margin-left: 10px;
  margin-top: 10px;
}
.post-header {
  color: white;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.post-header,
.post-footer {
  width: 100%;
  background-color: #0074d9;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  min-height: 30px;
}
.post-footer textarea {
  width: 90%;
  padding: 3px;
  font-size: 1rem;
  border-radius: 10px;
  resize: none;
}
aside {
  grid-column: 4/-1;
  grid-row: 2/-1;
  width: 90%;
  height: 100%;
  border-left: 1px solid grey;
  padding: 5px;
}
.submit-post-btn {
  display: block;
}

.post-form input:not([type="checkbox"]),
.post-form textarea,
.post-form label {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  font-size: 1.2rem;
  margin: 10px 0;
  padding: 5px;
}
.post-form label {
  padding: 0;
  margin-bottom: 5px;
}
.is-delivered-checkbox {
  width: 16px;
  height: 16px;
  padding: 5px;
}
.post-form textarea {
  resize: vertical;
}
.post-form button {
  background-color: #0074d9;
  font-size: 1.2rem;
  padding: 10px;
  color: white;
  width: 100px;
  border-radius: 10px;
}
/* .message-box {
  position: absolute;
  border-radius: 10px;
  display: flex;
  flex-flow: row nowrap;
  width: 300px;
  font-size: 12px;
  line-height: 1.34;
} */
.message-icon {
  font-family: "Material Icons";
  color: white;
  font-size: 1.5rem;
  width: max-content !important;
  margin: 0 auto !important;
  cursor: pointer;
}
.post-delete,
.post-edit {
  font-family: "Material Icons";
  color: white;
  font-size: 1.5rem;
  width: max-content !important;
  margin: 0 auto !important;
  cursor: pointer;
  width: 30px;
}

.message-input {
  display: block;
  width: 70%;
  min-height: 32px;
  line-height: 1.34;
  color: rgb(5, 5, 5);
  margin: 0 auto;
  background-color: lightgrey;
  margin: 0 !important;
  border-radius: 15px;
  font-size: 16px;
  padding-left: 5px;
}
.message-modal {
  top: 65px;
  left: 0;
  width: 85%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  margin: 0 auto;
  backdrop-filter: blur(2px);
  z-index: 3;
}
.message-box {
  position: fixed;
  display: flex;
  flex-flow: row wrap;
  background-color: khaki;
  width: 40%;
  height: 600px;
  font-size: medium;
  top: 10%;
  left: 35%;
  padding: 10px;
  border: 1px solid silver;
  border-radius: 10px;
  box-shadow: 5px 5px 13px -1px rgba(0, 0, 0, 0.52);
  overflow: auto;
}
.modal-close {
  font-family: "Material Icons";
  content: "highlight_off";
  font-size: 2rem;
  width: 32px;
  height: 32px;
  right: -10px;
  top: -10px;
  position: absolute;
  background-color: lavender;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.message-container {
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid grey;
  box-shadow: 2px 2px 2px -1px rgba(0, 0, 0, 0.52);
  width: 100%;
}
.notification-icon {
  font-family: "Material Icons";
  width: max-content !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  position: relative;
  background-color: navy;
  border-radius: 50%;
  padding: 5px;
  margin: 0 !important;
}
.notification-number {
  position: relative;
  height: max-content !important;
  width: max-content !important;
  font-size: 0.8rem;
  right: 7px;
  top: -12px;
  text-align: center;
  color: white;
  border-radius: 50%;
  background-color: red;
  padding: 3px !important;
  margin: 0 !important;
  cursor: pointer;
}

.navigation-container {
  grid-column: 1/4;
  grid-row: 2/3;
  display: none;
  justify-content: center;
}
.navigation {
  font-family: "Material Icons";
  padding: 10px;
  font-size: 24px;
  font-weight: bolder;
  border-radius: 10px;
  margin-left: 20px;
  box-shadow: 3px 3px 5px -1px rgba(0, 0, 0, 0.52);
  border: #0074d9 2px solid;
  background-color: #0074d9;
  color: white;
}
.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
}
.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  width: 100%;
}
.search-form input[type="text"] {
  padding: 2px;
  height: 36px;
  border-radius: 3px;
  font-size: 1.2rem;
  width: 100%;
  background-color: whitesmoke;
}

.search-text-result {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.matching-ul {
  position: absolute;
  background-color: whitesmoke;
  text-decoration: none;
  list-style: none;
  width: 100%;
  top: 100%;
  padding: 10px;
  border-left: solid #0074d9 2px;
  border-right: solid #0074d9 2px;
  border-bottom: solid #0074d9 2px;
  border-radius: 0 0 10px 10px;
  cursor: pointer;
}
.matching-ul li {
  padding: 5px;
}
.search-icon {
  font-family: "Material Icons";
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 5%;
  font-size: 1rem;
  margin: 0 !important;
  padding: 0 !important;
}
.matching-ul li h6 {
  display: inline-block;
}

.search-li:hover {
  background-color: whitesmoke;
  border: 1px solid lightgrey;
}
.loggedIn-posts-display {
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-column: 1/4;
  grid-row: 3/4;

  grid-auto-rows: 1fr;
  grid-gap: 10px;
  padding: 10px;
  min-height: 400px;
}
.message-lists {
  border: solid #0074d9 2px;
  margin: 2px 2px 2px 20px;
  width: 95%;
  border-radius: 5px;
  padding: 5px;
}
.post-m-list {
  border: solid #0074d9 2px;
  margin: 2px 2px 2px 2px;
  width: 98%;
  border-radius: 5px;
  padding: 5px;
}
.message-group-incoming,
.message-group-outgoing {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: flex-end;
}
.message-group-incoming h4,
.message-group-outgoing h4 {
  align-self: flex-start;
}

.post-m-list {
  cursor: pointer;
  background-color: lavender;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.msg-post-option {
  display: flex;
  justify-content: center;
}
.mp-link {
  display: block;
  background-color: #0074d9;
  padding: 5px;
  margin: 5px;
  text-decoration: none;
  border-radius: 5px 5px 0 0;
  font-size: 1.5rem;
  color: white;
}
.mp-link:hover {
  text-decoration: underline;
}
.msg-click-icons {
  font-family: "Material Icons";
  display: block;
  width: 24px;
  height: 100%;
  position: relative;
  left: -10px;
  margin: 2px 5px;
}

.post-form input:invalid:required,
.post-form input:invalid:required,
.registeration-form input:invalid:required {
  border-bottom: 3px solid red;
}
